*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  padding: 0;
  background-color: white;
}

.zaui-list-item {
  cursor: pointer;
}

.scroll-container {
    overflow-y: auto;
    /* Cho phép cuộn dọc */
    overflow-x: auto;
    /* Cho phép cuộn ngang nếu cần */
    margin: 0;
    padding: 0;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
  /* Chiều rộng của thanh cuộn dọc */
  height: 8px;
  /* Chiều cao của thanh cuộn ngang */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Màu nền của thanh cuộn */
  border-radius: 10px;
  /* Bo góc của thanh cuộn */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo góc của thanh cuộn */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4;
  /* Màu của thanh cuộn khi hover */
}
