*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  padding: 0;
  background-color: white;
}

.zaui-list-item {
  cursor: pointer;
}

.custom-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.scroll-container {
    overflow-y: auto;
    /* Cho phép cuộn dọc */
    overflow-x: auto;
    /* Cho phép cuộn ngang nếu cần */
    margin: 0;
    padding: 0;
}

.scroll-container::-webkit-scrollbar {
  
  display: none;
}

.text-bold{
  font-weight: bolder;
}

.radius-custom{
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.truncate-multiline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* Đảm bảo chữ bị cắt sẽ xuống dòng */

  /* Giới hạn chiều cao cho 2 dòng, tùy chỉnh theo kích thước chữ */
  line-height: 1.2em;
  /* Dòng chữ cách nhau 1.5em */
}